[submodule "styles/brackets.css"]
	path = styles/brackets.css
	url = git://github.com/thejamesdempsey/brackets.css.git
[submodule "dev/styles/brackets.css"]
	path = dev/styles/brackets.css
	url = git@github.com:thejamesdempsey/brackets.css.git
[submodule "dev/styles/crubrand.css"]
	path = dev/styles/crubrand.css
	url = git@github.com:CruGlobal/crubrand.css.git
[submodule "dev/styles/crubrand"]
	path = dev/styles/crubrand
	url = git@github.com:CruGlobal/crubrand.css.git
